.image-rendering {
  max-width: 100%;
  height: auto;
  border: 2px solid #000000;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  filter: grayscale(100%);
}

/* Round the image */
.rounded img {
  width: 240px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.rounded :hover img:hover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Zooming on mouseover */
/* img {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  img:hover {
    transform: scale(1.35);
  } */
