.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.item {
  position: relative;
  top: 10vh;
}

.btn-section {
  position: absolute;
  display: flex;
  top: 30vh;
  justify-content: center;
  left: 5vh;
  right: 5vh;
}
