.text-layout {
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.description h1 {
  font-size: 45px;
}

.description h2 {
  font-size: 40px;
}

.description p {
  font-size: 25px;
}

.presentation-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
}

.hi-there {
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}
@media (max-width: 1200px) {
  .text-item {
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
    margin: 0rem;
  }

  .desc-text {
    width: 1;
  }

  .hi-there {
    border-radius: 10px;
    border: 2px solid #ffffff;
    align-items: center;
    top: -5vh;
  }
}

h1 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 2px;
  padding: 20px 0;
  font-size: 2em;
}
