li {
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
  color: var(--primary);
}

.navbar {
  padding-top: 15px;
  background-color: var(--background);
  font-size: 25px;
}

.right-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 25px;
}

.left-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 25px;
}
