.career-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  top: 0;
  margin-right: 2rem;
  margin-left: 2rem;
  gap: 15px;
}

.career-item {
  border: 1px solid white;
  border-radius: 10%;
  flex: 1;
  gap: 10px;
  backdrop-filter: blur(10px);
}
